__pycache__
*.egg-info
*.conda
/pyALRA/data
/build
/pyALRA/plots
/pyALRA/benchmarks/alra_benchmark_results
/pyALRA/benchmarks/data
.DS_Store
/html
/_build
/_static
/_templates
/doctrees
index.rst
Makefile
make.bat
conf.py
pyALRA/benchmarks
/benchmarks
